@charset "utf-8";
@import "@style/mixin";

/************************************************************************
* filename		: connectors.css
* description	: connectors CSS import
* date			: 2023.03.24
+ version		: v1.0
************************************************************************/

.connect-content{    
  position: relative;
  width:100%;
  max-width:800px;
  padding: 40px 40px;  
  .btn-box{
    display: flex;
    justify-content: center;
    margin:0 0 30px 0;
    .btn-connect{
      position: relative;
      display: block;
      width: 500px;    
      height: 80px;   
      color:#fff;
      font-size: 30px;
      font-weight: 600;
      border-radius: 12px;
      background-color:#000;
           
      &.isload{
        padding: 10px 40px;
        font-size: 20px;                       
        .ing-txt{
          color: red;
        }        
      }
      &:hover{
        color:#000;
        border: 1px solid #000;
        background-color:#fff;
        box-shadow: 0 2px 3px rgba(0,0,0,.03), 0 9px 23px -6px rgba(0,0,0,.1), inset 0 -3px 12px -4px rgba(0,0,0,.23);
      }
      &.MetaMask{
        &:before {
          content: "";
          position: absolute;
          inset: 2px;     
          background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/36/MetaMask_Fox.svg");
          background-size: 120px 80px;    
          background-position: 0 0;
          background-repeat: no-repeat;
        }
        
        &:hover{
          &::before{
            background-image: url("../../images/metamaskfox_hover.png");
            background-size: 65px 65px;    
            background-position: 30px 5px;
            background-repeat: no-repeat;
          }
        }
        
      }

    }
  }  
  .err-txt{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    text-align: center;
    color: red;
  }
}


@include mobile { 
  .container{
    .title-box{
      margin: 40px 0 0 0;
      padding: 0 20px;
      font-size: 25px;
      line-height: 50px;      
    }
    .connect-content{
      padding: 40px 20px;
      .btn-box{
        .btn-connect{
          font-size: 25px;
        }
      }
    }
  } 
}