@charset "utf-8";
@import "@style/mixin";

/************************************************************************
* filename		: transaction.css
* description	: transaction CSS import
* date			: 2023.03.24
+ version		: v1.0
************************************************************************/

.trans-content{
  position: relative;
  width:100%;
  max-width:800px;
  padding: 40px 40px;  
  .btn-disconnect{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    border-radius: 10px 10px;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    background: #c9c9c9;
    cursor: pointer;
    &:hover{
      color:#000;
      background: #fff;
    }
  } 

  .trans-form{
    
    .form-box{
      margin: 0 0 40px 0;
      .tit{
        display: flex;
        margin: 0 10px 10px 0;
        color:#000;
        font-weight: 500;
        font-size: calc(24px + (22.4 - 16) * ((100vw - 300px) / (1900 - 700)))!important;
      }
      input{
        &:focus-visible{
          border:2px solid #000;
        }
      }
      .recipi{    
        width: 100%;
        padding: calc(1rem + 0.3vw) calc(1rem + 0.2vw);
        outline: none;        
        font-size: calc(16px + (22.4 - 16) * ((100vw - 300px) / (1900 - 700)))!important;
        background: #fff;    
        border-radius: 12px;    
        transition: all .2s ease;
        text-align: right;
      }
      .amount{
        width: 100%;
        padding: calc(1rem + 0.3vw) calc(1rem + 0.2vw);
        outline: none;        
        font-size: calc(16px + (22.4 - 16) * ((100vw - 300px) / (1900 - 700)))!important;
        background: #fff;    
        border-radius: 12px;    
        transition: all .2s ease;
        text-align: right;
      }      
    }
    .btn-box{
      display: flex;
      justify-content:flex-end;
    }   
    .btn{      
        display: flex;     
        align-items: center;      
        justify-content : center;    
        width: 160px;
        height: 50px;
        border-radius:10px 10px;    
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        cursor: pointer;    
    }
    .btn-txt{
        margin: 0 0 20px 0;
        text-align: center;
        cursor: pointer;
    }
    .blue{
        color:#fff;
        background: #3A62F6;
        &:hover{
          opacity: 0.8;
        }
    }
    .blueline{
        color: #3A62F6;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #3A62F6;
    }
    .bluetxt{
        height: auto;
        color: #3A62F6;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
    }
    .black{
      color:#fff;
      background: #000;
      &:hover{
        opacity: 0.8;
      }
    }
  
    .btn-create{
      position: absolute;
      left:0;
      bottom:0;
      font-size: 20px;
      &:hover{
        opacity: 0.8;
      }
    }
  }  
  .trans-success{  
    margin: 20px 0 0 0;    
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid #001fff;
    background-color: #d3d8ff;
    .success-txt{
      color:#001fff;
      font-size: 30px;
      font-weight: 500;
      line-height: 50px;
    }
    .sent-txt{
      font-size: 20px;
      font-weight: 500;
      line-height: 40px;
      span{
        color:red
      }
    }
    .ether-txt{
      font-size: 20px;
      font-weight: 500;
      line-height: 50px;      
    }
  }
  .error-code{
    margin: 20px 0 0 0;    
    padding: 20px 20px;
    border-radius: 10px;    
    border: 1px solid #f80303;
    background-color: #f7a2a2;
    .tit{
      font-size: 20px;
      font-weight: bold;
      line-height: 40px;
      color:#ff0000
    }
    .txt{
      font-size: 15px;      
      line-height: 25px;
      color:#000000
    }
  }

}




@include mobile { 
  .trans-content{
    padding: 40px 20px;
    
  }
}